# dependencies
node_modules/
.pnp
.pnp.js

# next.js
client/.next/
client/out/
client/next-env.d.ts

# production
build/
dist/

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# testing / coverage
coverage/

# vercel
.vercel

# typescript
*.tsbuildinfo

# editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
